@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de gestion de AMAZON</h1>
    <p>Encuentra tu <a href="https://us.amazon.com/b?node=17867753011">Producto aqui</a>.</p>
</div>
